.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding-top: 60px;
}

.home-container {
  flex: 1;
  padding: 1.5rem 1rem;
  padding-bottom: 100px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-filtros {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 769px) {
  .home-container {
    padding: 2rem;
  }
}
